
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/lanse/css/admin.css" rel="stylesheet" />
    <link href="~/Content/lanse/css/pintuer.css" rel="stylesheet" />
    <script src="~/Content/lanse/js/jquery.js"></script>
    <script src="~/Content/lanse/js/pintuer.js"></script>
</head>
<body>
    <div> 

    </div>
</body>
</html>
