
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UploadTest</title>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Scripts/webuploader/webuploader.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/myWebUploader.js"></script>
</head>
<body>
    <script>
    $(function () {
        $("#uploader").powerWebUpload({ auto: true, fileNumLimit: 3, moduleCode: "f1" });
    })
    function GetFiles1() {
        //var data = $("#uploader").GetFilesAddress();
        //alert(data[0])

        var str = $("#uploader").GetFilesValuesStr();
        alert(str);
    }
    </script>
    <div id="uploader" style="margin-left:10px"></div>
    <input type="button" value="获取Value" onclick="GetFiles1()" />
</body>
</html>
